body {
	margin: 0;
	background: #336600;
}

h1, h2, h3, h4 {
	margin: 0;
}

img {
	border: 0;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

/* Page */
#page {
	margin: 0 auto;
	width: 1200px;
	/* untuk background putih content */
	/* background: url("../images/page_admin.gif") repeat-y;  */ 
	background: #f1f3ef;
}

#page-in {
	width: 1000px;
	min-height: 625px;
}

/* Header */
#header {
	width: 1200px;
	height: 120px;
	position: relative;
	background: #aecf72;
}

/* Header - Info */
#header #header-info {
	position: absolute;
	top: 10px;
	left: 40px;
}

#header #header-info h1 {
	color: #ffffff;
	font: normal 47px "Century Gothic", Verdana;
	padding-bottom: 1px;
}

#header #header-info h1 a {
	color: #ffffff;
	text-decoration: none;
}

#header #header-info .description {
	color: #ffffff;
	font: normal 21px "Trebuchet MS", Verdana;
}

/* Main */
#main {
	width: 1200px;
	padding-left: 14px;
}

/* Main - Sidebar */
.sidebar {
	float: left;
	width: 208px;
	font: normal 13px "Trebuchet MS", Verdana;
	color: #ffffff;
}

/* Sidebar - Boxes */
.sidebar .sidebar-box {
	width: 208px;
	margin-bottom: 20px;
}
	
/* Sidebar - Titles */
.sidebar h3 {
	width: 190px;
	height: 39px;
	background: url("../images/sidebar_title.png") no-repeat;
	padding-left: 18px;
	font: bold 15px/39px "Trebuchet MS", Verdana;
	color: #c5e402;
}

/* Sidebar - Menus */
.sidebar ul {
	margin: 0;
	padding: 6px 6px 2px 6px;
	list-style-type: none;
	background: url("../images/sidebar_box.gif") repeat-y;
}

.sidebar ul li {
	color: #ffffff;
	font: normal 13px/30px "Trebuchet MS", Verdana;
}

.sidebar ul li a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #89ad49;
	padding-left: 12px;
}

.sidebar ul li a:hover {
	text-decoration: none;
	background: #ffffff;
	color: #336600;
}

/* Sidebar - Menus - Submenus */
.sidebar ul li ul {
	padding: 0;
	background: none;
}

.sidebar ul li ul li a {
	padding-left: 32px;
}

/* Main - Content */
#heryContent {
	width: 930px;
	padding: 0px 22px 0 24px;
	margin-left: 215px;
}

/* Main - Content - Post */

#heryContent .post {
	margin-bottom: 30px;
	width: 930px;
}

/* Post - Title */
#heryContent .post .post-title {
	width: 930px;
	/* height: 500px auto; */
	color: #000000;
	font: normal 13px "Trebuchet MS", Verdana;
}

#heryContent .post .post-title a {
	color: #336600;
	text-decoration: underline;
}

#heryContent .post .post-title h2 {
	float: left;
	width: 930px;
	padding-left: 15px;
	color: #ff6b00;
	font: normal 27px/35px "Trebuchet MS", Verdana;
}

#heryContent .post .post-title h2 a {
	color: #ff6b00;
	text-decoration: none;
}

#heryContent .post .post-title h2 a:hover {
	text-decoration: underline;
}

/* Post - Entry */
#heryContent .post .post-entry {
	font: normal 12px/18px "Trebuchet MS", Verdana;
	color: #333333;
	width: 798px;
	padding: 0 5px;
}

#heryContent .post .post-entry a {
	color: #ff6b00;
	text-decoration: none;
}

#heryContent .post .post-entry a:hover {
	text-decoration: underline;
}

/* Post - Subtitle */
#heryContent .post h3 {
	margin: 20px 0 10px 0;
	color: #ff6b00;
	font: normal 20px "Trebuchet MS", Verdana;
}

/* Footer */
#footer {
	width: 1180px;
	border-width: 100%;
	border-top: 1px solid;
	height: 90px;
	padding: 5px 10px 10px 10px;
	background: #aecf72;
	color: #ffffff;
	font: normal 12px "Trebuchet MS", Verdana;
	text-align: left;
}

.image {
	background-color: #fff;
	padding: 2px;
	margin: 3px 5px 3px 0;
	border: 1px solid #ddc688;
	float: left;
}

div.message {
	color: #fff;
	font-weight: bold;
	background: #a1c24d;
	padding: 5px;
}